<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716513131248-7cd71lvrnfaihbra0li1c7ct9mb1cnh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716513131248-7cd71lvrnfaihbra0li1c7ct9mb1cnh1</string>
	<key>API_KEY</key>
	<string>AIzaSyAiSnXl-ns_ZO2j0LM9MMn5pznOAKA8S2w</string>
	<key>GCM_SENDER_ID</key>
	<string>716513131248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>loginsignup-843f6</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsignup-843f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716513131248:ios:d9362636019357d41fa035</string>
</dict>
</plist>